@model PaginatedList<VehicleModelViewModel>
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Vehicle Models";
    string? sortBy = HttpContextAccessor.HttpContext?.Request.Query["sortBy"];
    string? currentFilter = HttpContextAccessor.HttpContext?.Request.Query["searchTerm"];
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
    <input type="hidden" name="sortBy" value="@sortBy" />
    <div class="form-actions no-color">
        <p>
            Search: <input type="text" name="searchTerm" value="@currentFilter"/>
            <input type="submit" value="Search" class="btn btn-default"/> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="mb-3">
    <a href="@Url.Action("Upsert", controller: "VehicleModel")" class="btn btn-success">Create</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortBy="@ViewBag.NameSortParam" asp-route-searchTerm="@currentFilter">
                Name
                @{
                    if (sortBy is "name_desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                    else if (sortBy is "name_asc")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                }
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="@ViewBag.AbrvSortParam" asp-route-searchTerm="@currentFilter">
                Abbreviation
                @{
                    if (sortBy is "abrv_desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                    else if (sortBy is "abrv_asc")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                }
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortBy="@ViewBag.MakeSortParam" asp-route-searchTerm="@currentFilter">
                Make
                @{
                    if (sortBy is "make_desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                    else if (sortBy is "make_asc")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                }
            </a>
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.IsNullOrEmpty())
    {
        <tr>
            <td colspan="3" class="text-center">No vehicle models available</td>
        </tr>
    }
    else
    {
        @foreach (VehicleModelViewModel item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>@item.Make.Name</td>
                <td>
                    <a asp-controller="VehicleModel" asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="VehicleModel" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>

@{
    string prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@sortBy"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@currentFilter)}"
   class="btn btn-default @prevDisabled"
>
    Previous
</a>

<a asp-action="Index"
   asp-route-sortOrder="@sortBy"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@currentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>