@using Org.BouncyCastle.Asn1.Ocsp
@model IEnumerable<VehicleMakeViewModel>
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Vehicle Makes";
    string nameSort = ViewData["NameSortParam"] as string ?? "";
    string abrvSort = ViewData["AbrvSortParam"] as string ?? "";
    string? sortData = HttpContextAccessor.HttpContext?.Request.Query["sortOrder"];
    
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@nameSort">
                Name
                @{
                    if (sortData is "name_desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                    else if (sortData is "name_asc")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                }
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@abrvSort">
                Abbreviation
                @{
                    if (sortData is "abrv_desc")
                    {
                        <i class="bi bi-arrow-down"></i>
                    }
                    else if (sortData is "abrv_asc")
                    {
                        <i class="bi bi-arrow-up"></i>
                    }
                }
            </a>
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.IsNullOrEmpty())
    {
        <tr>
            <td colspan="2" class="text-center">No vehicle makes available</td>
        </tr>
    }
    else
    {
        @foreach (VehicleMakeViewModel item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Abrv</td>
                <td>
                    <a href="@Url.Action("Upsert", controller: "VehicleMake", values: new { id = item.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", controller: "VehicleMake", values: new { id = item.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    }

    </tbody>
</table>